*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    height: 600px;
    background: url("Skewed.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.textos{
    padding: 300px;
    color: #fff;
    text-align: center;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    padding: 7px;
    width: 220px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
}

a:hover{background: blue; color: green; border: 1px solid #fff}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .452);
}

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-modal{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
}

@keyframes modal{
    from{top: -330px; opacity: 0;}
    to{top:0; opacity:1;}
}

.close{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.close:hover{
    color: #7f8c8d;
    text-decoration: none;
    cursor: pointer;
}

.modal-header, .footer{
    padding: 8px 16px;
    background: #34495e;
    color: #f2f2f2
}

p{
    text-align: justify;
}
.modal-body{
    padding: 20px 16px;
}

@media screen and(max-width: 900px){
    .contenido-modal{
        width: 70%;
    }
    .textos{
        padding: 150px;
    }
}